webapp/src/main/resources/Todo.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.2.746 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Todo">
    <xs:complexType>
      <xs:attribute name="summary" type="xs:string" />
      <xs:attribute name="description" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>